@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.custom-search ::placeholder {
  color: black;
  /* Tailwind red-500 */
  opacity: 1;
  /* Ensure the color is not transparent */
}

.custom-search .ant-btn-primary {
  background-color: #ccb864;
  /* border-color: #FFCA2C; */
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.primaryColor {
  color: #ccb864;
}