@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.custom-search ::placeholder {
  color: black;
  /* Tailwind red-500 */
  opacity: 1;
}

.custom-search .ant-btn-primary {
  background-color: #808000;
  /* border-color: #FFCA2C; */
}


.primaryColor {
  color: #808000;
}

/* globals.css */
.myfooter {
  background-image: url('../../public/footerbg.png');
  background-size: contain;
  background-position: center;
}

.custom-rating .ant-rate-star {
  font-size: 14px; /* Adjust star size for all states */
}

.custom-rating .ant-rate-star-full .anticon-star {
  color: #faad14; /* Color for fully filled stars */
}

.custom-rating .ant-rate-star-zero .anticon-star {
  color: #ffffff; /* Color for unfilled stars */
}

.custom-rating .ant-rate-star-half .ant-rate-star-second .anticon-star {
  color: white; /* Color for half-filled stars */
}